body a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: black;
}

.logo {
  margin: 10px 0;
}
.logo a {
  text-decoration: none;
  color: white;
  font-size: 45px;
}

.logo a:hover {
  color: rgb(255, 230, 0);
}

.genres {
  list-style: none;
  padding: 0;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

.genres li {
  margin-right: 7px;
  font-size: 16px;
  width: 90px;
}

.genres li a:hover {
  color: rgba(256, 256, 256, 0.6);
}
